body {
    background-color: #161718;
}

.navbar-brand {
    color: #C70039;
}
.main {
    margin: auto;
    width: 100vw;
    display: inline;
  
}

.infoContainer {
    height: 45vh;
    width: 70vw;
    margin: 80px auto;
    margin-top: 25vh;
    justify-content: space-around;
    padding: 0px;
}

.devInfo {
    width: 60vw;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 25px;
    padding-bottom: 20px;

}
.welcome{
    font-size: 10px;
    color: whitesmoke;
}
.hello{
    font-size: 40px;
    color: whitesmoke;
}

.name{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #C70039;
    font-weight: normal;

}
.about{
    color: white;
    font-size: 12px;

}
.btn1{
    width: 110px;
    padding: 8px 14px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    border: solid 1px #C70039;
    margin-top: 10px;
    display: inline;
    text-decoration: none;

}


.btn2{
    width: 110px;
    padding: 8px 14px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 3px;
    background-color: transparent;
    border: solid 1px #C70039;
    margin-top: 10px;
    display: inline;
    text-decoration: none;
    color: whitesmoke;

}

.devPic1{
    height: 14vh;
    width: 14vh;
    border-radius: 100%;
    margin-top: -210px;
    display: inline;
    justify-content: right;
    float: right;
    flex-direction: column;
    padding: 0px;
    padding-bottom: 0px;
    border: solid 2px #C70039 ;
    background-color: #C70039;
    
}
.devPic2{
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
    margin-top: -210px;
    display: inline;
    justify-content: right;
    float: right;
    flex-direction: column;
    padding: 0px;
    padding-bottom: 0px;
    border: solid 2px #C70039 ;
    
}





